body {
    color:white;
    background: palevioletred;
margin: 0px;
}

header {
    border-bottom: solid 3px rgb(241, 39, 90);
    padding: 20px;
    font-size: 32px;
    color: rgba(44, 237, 244, 0.929);
}

 section  {
    background: rgb(244, 130, 244);
 }